* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header,
section,
footer {
  padding: 90px 0;

  @media (max-width: 768px) {
    padding: 40px 0;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.2;

  margin-bottom: 40px;

  color: $brand-color;
}

h1 {
  font-size: 60px;

  @media (max-width: 768px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 36px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 20px;
  text-transform: capitalize;

  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 40px;

  color: $grey-color;
}

ul {
  list-style-type: none;
}

a {
  font-weight: 600;
  text-decoration: none;

  transition: all 0.25s ease-in-out;

  color: $button-color;

  &:hover {
    text-decoration: none;

    color: $brand-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  font-family: "Poppins", sans-serif;

  outline: none;
}

button {
  display: block;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;

  padding: 20px 40px;

  border: 0;
  border-radius: 32px;

  outline: none;
  cursor: pointer;

  transition: all 0.25s ease-in-out;

  background-color: $button-color;
  color: #fff;

  &:hover {
    background-color: $brand-color;
  }
}
