.features {
  &__desc {
    @include set-width(430px, 768px);
  }

  &-block {
    @include set-width(410px, 768px);

    &--red {
      .block-img {
        background-color: rgba(245, 87, 103, 0.1);
      }

      .block-info__title {
        color: $red-color;
      }
    }

    &--blue {
      .block-img {
        background-color: rgba(37, 99, 255, 0.1);
      }

      .block-info__title {
        color: $blue-color;
      }
    }

    &--green {
      .block-img {
        background-color: rgba(64, 151, 95, 0.1);
      }

      .block-info__title {
        color: $green-color;
      }
    }
  }

  .block-img {
    @extend .img-size;

    &__icon {
      width: 100%;
    }
  }
}
