.footer {
  background-color: $footer-bg;

  &__link {
    display: inline-block;

    font-size: 28px;
    font-weight: bold;
  }

  &__logo {
    &--orange {
      color: $orange-color;
    }

    &--white {
      color: #fff;
    }
  }

  &-list {
    &__item {
      &:not(:last-child) {
        margin-right: 40px;

        @media (max-width: 576px) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    &__link {
      text-transform: capitalize;

      color: #fff;

      &:hover {
        opacity: 1;
      }
    }
  }

  .social-list {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__svg {
      width: 30px;
      height: auto;

      &:hover {
        path {
          opacity: 1;
        }
      }

      path {
        opacity: 0.1;

        transition: opacity 0.25s ease-in-out;

        fill: #fff;
      }
    }
  }

  &__text {
    opacity: 0.1;

    color: #fff;
  }
}
