.plus {
  &__title {
    @include set-width(430px, 768px);

    margin: 0 auto 40px auto;
  }

  &__desc {
    @include set-width(660px, 768px);

    margin: 0 auto 40px auto;
  }

  &-block {
    @include set-width(260px, 768px);

    margin: 0 auto;

    &--pink {
      .block-img {
        background-color: $pink-color;
      }
    }

    &--lightblue {
      .block-img {
        background-color: $lightblue-color;
      }
    }

    &--amber {
      .block-img {
        background-color: $amber-color;
      }
    }

    &--green {
      .block-img {
        background-color: rgba(64, 151, 95, 0.1);
      }
    }

    &--lightgrey {
      .block-img {
        background-color: rgba(153, 156, 165, 0.1);
      }
    }

    &--coral {
      .block-img {
        background-color: $coral-color;
      }
    }
  }

  .block-img {
    @extend .img-size;

    margin: 0 auto 20px auto;

    @media (max-width: 768px) {
      margin: 0 0 40px 0;
    }

    &__icon {
      width: 100%;
    }
  }
}
