.slider {
  .row {
    .col-12:first-child {
      @include set-position("left", 768px);
    }
  }

  &__title,
  &__desc {
    @include set-width(510px, 768px);
  }

  .swiper-elements {
    position: absolute;
    bottom: 20px;
    right: 0;
    display: flex;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;

      width: 50px;
      height: 50px;

      border-radius: 50%;

      background-color: $border-color;
      color: $button-color;

      &:after {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .swiper-button-disabled {
      border: 2px solid $border-color;

      background-color: transparent;
      color: #ccc;
    }
  }

  .swiper-block {
    .block-img {
      &__img {
        @extend .img-size;

        padding: 0;

        object-fit: cover;
      }
    }
  }
}
