$brand-color: #242f51;

$red-color: #f55767;
$blue-color: #2563ff;
$green-color: #40975f;
$orange-color: #feaa25;

$border-color: #ebebeb;
$grey-color: #666666;
$lightgrey-color: #999ca5;

$button-color: #2500f9;
$accordion-color: #f5f7fa;
$badge-color: #e2eaed;

$header-bg: #fdfdfe;
$footer-bg: #09142e;
